<%- include('partials/header') %>

<h1>Contact</h1>
<p><%= contactContent %></p>
<div class="contact-details">
    <p>
        <img src="/image/phone.png" alt="" class="details phone" /><a
            href="tel:7908088742"
            >7908088742</a
        >
    </p>
    <p>
        <img src="/image/email.png" alt="" class="details" /><a
            href="mailto:paulbhaskar007@gmail.com"
            >paulbhaskar007@gmail.com</a
        >
    </p>
    <p>
        <img src="/image/whatsapp.png" alt="" class="details" /><a
            href="https://wa.me/7908088742"
            >7908088742</a
        >
    </p>
</div>

<%- include('partials/footer') %>
